*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.NavBar {
    width: 100%;
    height: 75px;
    background: #fff;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    /* font-family: 'Lobster Two', cursive; */
    z-index: 999999;
    padding: 1em 3em;
}

.navLeft {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navRight {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navLogo {
    flex: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.topList {
    display: flex;
    align-items: center;
    gap: 1em;
}

.topList img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.topListItem {
    padding: .5em 1em;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 8px;
    cursor: pointer;
}

.topListItemActive {
    padding: .5em 1em;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 8px;
    cursor: pointer;
    background: #000;
}

.topListItemActive .Linkbtn {
    color: #fff;
}

.topListItem:hover {
    background: #000;
}

.Linkbtn {
    font-family: 'Viga', sans-serif;
}

.topListItem:hover .Linkbtn {
    color: #fff;
}

.Logo {
    width: 35px;
    height: 35px;
}

.navLogo h5 {
    font-family: 'Lilita One', cursive;
    font-size: 1.25em;
}

.Logout {
    padding: .5em 1em;
    border-radius: 8px;
    cursor: pointer;
    background: #000;
    color: #fff;
    font-family: 'Viga';
}