@font-face {
    font-family: 'Amatic';
    src: url(fonts/AmaticSC-Bold.ttf);
}

@font-face {
    font-family: 'Neucha';
    src: url(fonts/Neucha-Regular.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: 'general';
    src: url(fonts/GeneralSans-Regular.otf);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Neucha';
    padding: 0;
    margin: 0;
}

body {
    background: #efefef;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: none;
}

ul {
    list-style: none;
}

#home {
    background-image: url(images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    padding: 1.5em 2em;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 10000;
    flex-basis: 10%;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

header nav h4 a {
    font-family: 'Amatic';
    letter-spacing: .1em;
    font-size: 1.5em;
    color: #fff;
}

header nav ul li a {
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Amatic';
    letter-spacing: .1em;
    color: #fff;
    mix-blend-mode: color-dodge;
}

.hero {
    flex-basis: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.heroContent {
    width: 100%;
    flex-basis: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.heroContent h2 {
    font-size: 12em;
    font-family: 'Quicksand';
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.heroContent h4 {
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Amatic';
}

.heroBx {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
}

.bxSingle {
    position: relative;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.bxSingle img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.bxSingle h3 {
    position: absolute;
    color: #fff;
    font-size: 3em;
    font-family: 'Amatic';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glass {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.glass h4 {
    color: #fff;
    font-size: 1.05em;
    text-transform: uppercase;
    /* font-family: 'Amatic'; */
}

.glass h6 {
    font-size: 1.05em;
    background: rgba(255, 255, 255, 0.6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ---------------------------------explore-------------------------------------------- */

#explore {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
}

.exploreUp {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2em;
}

.upUp {
    width: 100%;
    height: 550px;
    border-radius: 1em;
}

.upUp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.upDown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    flex-wrap: wrap;
}

.card {
    width: 345px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 1);
    color: #000;
    padding: 2em;
    border-bottom: 5px solid #FBCA1F;
}

.cardTitle {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.cardTitle h4 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardContent img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.button {
    background: #fff;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

.button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.upLeft {
    flex-basis: 50%;
    padding: 3em;
}

.upLeft h3 {
    font-size: 5em;
    font-family: 'Amatic';
    text-transform: uppercase;
}

.upRight {
    flex-basis: 50%;
    padding: 1em;
}

.upRight img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 1em;
    border-top-left-radius: 5em;
    border-bottom-right-radius: 5em;
    border: 1px solid #fff;
}

.exploreContent {
    padding: 2em;
}

.exploreContent p {
    font-size: 1.25em;
    width: 100%;
    padding: 2em;
    border-radius: 1em;
    background: #fff;
}

.exploreCards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em;
}

.exploreDown {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1em;
}

.downUp {
    display: flex;
    flex-direction: column;
    padding: 0em 2em;
}

.firstDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.firstDiv h2 {
    font-size: 10em;
    text-transform: uppercase;
    font-family: 'Neucha';
}

.firstDiv img {
    width: 100%;
    height: 125px;
    object-fit: cover;
}

.secondDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.secondDiv div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    flex-wrap: wrap;
}

.secondDiv div h2 {
    font-size: 10em;
    text-transform: uppercase;
    font-family: 'Neucha';
}

.secondDiv h4 {
    font-size: 5em;
    text-transform: uppercase;
    align-self: flex-end;
    transform: translateY(-20px);
    background: rgba(0, 0, 0, 0.8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secondDiv p {
    width: 250px;
    font-size: 1.2em;
}

.downDown {
    width: 100%;
    height: 550px;
}

.downDown img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -------------------------------------------------places--------------------------------------------------- */

.placeBx {
    width: 100%;
    display: flex;
    gap: .25em;
    height: 450px;
    padding: 3em;
}

.place-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-content h4 {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Neucha';
}

.img-place {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.img-place img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 3em;
}

.img-right {
    align-items: flex-start;
}

.img-left img {
    transform: rotate(10deg);
}

.img-right img {
    transform: rotate(-10deg);
}

.placesDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2em;
    height: 450px;
}

.place {
    color: #000;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border-radius: 8px;
    background: #fff;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.place:hover~.place {
    transform: translateX(100px);
}

.place:not(:first-child) {
    margin-left: -100px;
}

.place:hover {
    transform: translateY(-1rem);
}

.placeImg {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: .25em;
}

.placeImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.placeCard {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.placeCard div {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    transition: .25s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
}

.place:hover .placeCard div {
    opacity: 1;
}

.place:hover .placeImg img {
    transform: translatey(-60px) scale(0.65,0.65);
}

.placeCard div h4 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.placeCard div p {
    font-size: 1em;
}

.placesChile .place:nth-child(5) {
    display: none;
}

.placesVietnam .place:nth-child(6) {
    display: none;
}

#destinations {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 2em;
    padding-top: 4em;
}

.destinate {
    display: flex;
    justify-content: space-between;
}

.destinates {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.destinates img {
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.destinateMiddle {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    gap: 1em;
}

.destinateLeft img {
    transform: rotate(-5deg);
}

.destinateRight img {
    transform: rotate(5deg);
}

.destinateMiddle img {
    object-fit: cover;
    object-position: center;
    width: 400px;
    height: 400px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.destinates div h3 {
    text-transform: uppercase;
    font-size: 2.5em;
    border-bottom: 1px solid #000;
}

.destinateMiddle div h3 {
    text-transform: uppercase;
    font-size: 2.5em;
    border-bottom: 1px solid #000;
}


#contact {
    padding: 2em;
    width: 100%;
}

.contactCard {
    width: 100%;
    background: #FBCA1F;
    border-radius: 1em;
    padding: 4em;
    display: flex;
}

.contactLeft {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.contactLeft img {
    width: 125px;
    height: 125px;
}

.contactLeft div h6 {
    font-size: 1em;
    text-transform: uppercase;
}

.contactLeft div h4 {
    font-size: 4em;
}

.contactRight {
    flex-basis: 50%;
}

.contactRight form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5em;
}

.input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #222;
    padding: 1.5em;
    font-size: 1.25em;
}

.input::placeholder {
    color: #000;
    text-transform: uppercase;
}

.message {
    width: 100%;
    height: 250px;
    color: #000;
    background: none;
    outline: none;
    border: none;
    padding: 1.5em;
    font-size: 1.25em;
}

.message::placeholder {
    color: #000;
    text-transform: uppercase;
}

.submit {
    background: #000;
    outline: none;
    border: none;
    color: #fff;
    padding: 1em;
    text-transform: uppercase;
}

.swiper {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    background-image: url(images/halong.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2em;
    border-radius: 2em;
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slide:nth-child(2) {
    background-image: url(images/anakena.jpg);
}

.waterfallSlider .slide:nth-child(2) {
    background-image: url(images/Iguazu.jpg);
}

.waterfallSlider .slide:nth-child(1) {
    background-image: url(images/ban\ goic.jpg);
}

.forestSlider .slide:nth-child(1) {
    background-image: url(images/cat\ tien.jpg);
}

.forestSlider .slide:nth-child(2) {
    background-image: url(images/conguilio.jpg);
}

.monSlider .slide:nth-child(1) {
    background-image: url(images/torres\ gallery\ alt.jpg);
}

.monSlider .slide:nth-child(2) {
    background-image: url(images/aconcogua.jpg);
}

.destDetail {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5em;
    background: #efefef;
    width: fit-content;
    padding: 1em;
    border-radius: 1em;
}

.destDetail h5 {
    font-size: 1.25em;
}

.destDetail h3 {
    font-size: 2em;
    text-transform: uppercase;
}

.destDetail p {
    width: 400px;
    font-size: 1.1em;
}

/* --------------------------------------------------------mediaqueries----------------------------------------------- */

@media only screen and (max-width:1225px) {
    .place-content h4 {
        font-size: 2.5em;
    }
}

@media only screen and (max-width:1110px) {
    .placeBx {
        padding: 2em;
    }

    .place-content h4 {
        font-size: 2em;
    }
}

@media only screen and (max-width:980px) {
    .place-content h4 {
        font-size: 1.75em;
    }

    .img-place img {
        width: 200px;
    }

    .placeCard div h4 {
        font-size: 1.25em;
    }

    .contactLeft div h4 {
        font-size: 3em;
    }
}

@media only screen and (max-width:825px) {
    .place-content h4 {
        font-size: 1.25em;
    }

    .img-place img {
        width: 200px;
    }

    .heroContent h2 {
        font-size: 9em;
    }
}

@media only screen and (max-width:725px) {
    .placeBx {
        flex-direction: column;
        height: unset;
    }

    .img-left {
        justify-content: flex-start;
    }

    .img-right {
        justify-content: flex-end;
    }

}

@media only screen and (max-width:690px) {
    .heroContent h2 {
        font-size: 9em;
    }

    .galleryImg img {
        max-width: 350px;
        height: 350px;
    }
}



@media only screen and (max-width:1160px) {
    .heroBx {
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }

    .boxes {
        align-self: center;
        flex-wrap: wrap;
    }

    .contactLeft div h4 {
        font-size: 3em;
    }

    .destinateMiddle img {
        width: 300px;
        height: 300px;
    }

    .destinates img {
        width: 250px;
        height: 250px;
    }

    .destinates div h3 {
        font-size: 1.75em;
    }

    .destinateMiddle div h3 {
        font-size: 1.75em;
    }
}

@media only screen and (max-width:950px) {
    .destinateMiddle img {
        width: 250px;
        height: 250px;
    }

    .destinates img {
        width: 200px;
        height: 250px;
    }

    .destinates div h3 {
        font-size: 1.75em;
    }

    .destinateMiddle div h3 {
        font-size: 1.75em;
    }
}

@media only screen and (max-width:900px) {
    .firstDiv h2 {
        font-size: 7em;
    }

    .secondDiv div h4 {
        font-size: 3em;
    }

    .secondDiv div h2 {
        font-size: 7em;
    }

    .destDetail h5 {
        font-size: 1em;
    }
    
    .destDetail h3 {
        font-size: 1.5em;
        text-transform: uppercase;
    }
    
    .destDetail p {
        width: 300px;
        font-size: 1em;
    }
}

@media only screen and (max-width:780px) {

    .firstDiv {
        margin-top: 2em;
    }

    .firstDiv h2 {
        font-size: 5em;
    }

    .secondDiv div h4 {
        font-size: 2em;
    }

    .secondDiv div h2 {
        font-size: 5em;
    }
}

@media only screen and (max-width:800px) {
    .place:hover~.place {
        transform: translateX(180px);
    }
    
    .place:not(:first-child) {
        margin-left: -180px;
    }
    
    .place:hover {
        transform: translateY(-1rem);
    }

    .destinateMiddle img {
        width: 200px;
        height: 200px;
    }

    .destinates img {
        width: 150px;
        height: 250px;
    }

    .destinates div h3 {
        font-size: 1.25em;
    }

    .destinateMiddle div h3 {
        font-size: 1.25em;
    }
}

@media only screen and (max-width:700px) {
    .placesDiv {
        padding: 1em;
    }

    .place:hover .placeImg img {
        transform: translatey(-75px) scale(0.8,0.60);
    }

    .placeCard div h4 {
        font-size: 1.25em;
    }

    #contact {
        padding: 1em;
    }

    .contactCard {
        flex-direction: column;
        padding: 1em;
    }

    .contactLeft div h4 {
        font-size: 2em;
    }
}

@media only screen and (max-width:650px) {

    #destination {
        padding: 1em;
    }

    .destinate {
        flex-direction: column;
        gap: 3em;
    }

    .destinateMiddle div {
        display: none;
    }

    .destinateMiddle img {
        width: 350px;
        height: 350px;
    }

    .destinates img {
        width: 300px;
        height: 300px;
    }

    .destinates div h3 {
        font-size: 1.5em;
    }

    .destinateMiddle div h3 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width:600px) {

    #destinations {
        padding: 1em;
    }

    .heroContent h2 {
        font-size: 5em;
    }

    header {
        display: none;
    }

    #explore {
        padding: .5em;
    }

    .firstDiv h2 {
        font-size: 2.5em;
    }

    .secondDiv div h4 {
        font-size: 1em;
    }

    .secondDiv div h2 {
        font-size: 2.5em;
    }

    .firstDiv img {
        height: 80px;
    }

    .Title h2 {
        font-size: 5em;
    }

    .place:hover~.place {
        transform: translateX(220px);
    }
    
    .place:not(:first-child) {
        margin-left: -220px;
    }
    
    .destDetail h3 {
        font-size: 1.25em;
        text-transform: uppercase;
    }
    
    .destDetail p {
        width: 250px;
    }

    .slide {
        padding: 1em;
    }
}

@media only screen and (max-width:525px) {

    .placesDiv {
        padding: 0em;
    }

    .place:hover~.place {
        transform: translateX(180px);
    }
    
    .place:not(:first-child) {
        margin-left: -180px;
    }

    .place {
        width: 250px;
    }

    .place:hover .placeImg img {
        transform: translatey(-85px) scale(0.85,0.55);
    }

    .placeCard div h4 {
        font-size: 1.15em;
    }
}