.writer {
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.BlogImage {
    width: 70vw;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    object-position: center;
    align-self: center;
}

.writeform {
    align-self: center;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.writeInput {
    border: none;
    font-size: 3em;
    text-transform: uppercase;
    width: 100%;
}

.writeInputAlt {
    border: none;
    font-size: 2em;
    width: 100%;
}

.writeInput:focus {
    outline: none;
}

.writeInputAlt:focus {
    outline: none;
}

.writeText {
    width: 100%;
    border: none;
    font-size: 1.5em;
    height: max-content;
}

.writeText:focus {
    outline: none;
}

.submitForm {
    font-family: inherit;
    font-size: 20px;
    background: #000;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    right: 0;
}

.submitForm span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
    font-family: 'viga';
}

.submitForm svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.submitForm:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.submitForm:hover svg {
    transform: translateX(1.75em) rotate(45deg) scale(1.1);
}

.submitForm:hover span {
    transform: translateX(5em);
}

.submitForm:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

.fa-solid {
    font-size: 1.5em;
    background: #000;
    color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}